// SCSS variables go in here e.g. primary colour, fonts, animation times etc

$primary-color: #ff0054;
$secondary-color: #F18F01;
$bg-primary-color: #9bc6d1;
$bg-secondary-color: #1f2636;
$bg-gradient: linear-gradient($bg-primary-color, $bg-secondary-color);
$font-stack: 'Avenir', Helvetica, sans-serif;
